<div class="main-container">
  <mat-toolbar>
      <img src="../../../assets/Image/icons8-rent-48.png" alt="" width="40px">
      <span style="margin-left: 2%;" routerLink="/dashboard/display">Rental App</span>
    <span class="example-spacer"></span>
    <div fxLayoutGap="10" >
      <button class="nav-btn" mat-flat-button routerLink="/dashboard/display">Home Page</button>
      <button class="nav-btn" mat-flat-button routerLink="/dashboard/landlord">My Property</button>
      <button class="nav-btn" mat-flat-button routerLink="/login">Logout</button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
