.btn-user{
    background-color: rgb(0 0 0 / 77%);
    color: white;
    margin-bottom: 14px;
    width: 34%;
    height: 50px;
}

.user-card{
    align-items: center;
    text-align: center;
    padding-top: 1%;
    box-shadow: none;
}

.mat-card-info{
    width:80%;
    margin-left: 4%;
    margin-bottom: 26px;
}

.Property-info{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;
}
