<div  class="container">
    <mat-card class="user-card">
        <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-bottom:10px ;">
            <mat-card-title style="text-decoration-line: underline; margin-left: 17%;">Edit Your Properties</mat-card-title> 
            <button (click)="closeDialog()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" matTooltip="Cancel" aria-label="Button that displays a tooltip when focused or hovered over">
                <mat-icon>close</mat-icon>
            </button>  
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" >
            <mat-form-field appearance="outline" class="form" style="padding-bottom: 0em;">
                <mat-label>Property Name</mat-label>
                <input matInput placeholder="Enter Property Name" [(ngModel)]="PropertyName">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form">
                <mat-label>Square fts.</mat-label>
                <input matInput placeholder="Enter Square fts." [(ngModel)]="SquareFts" >
            </mat-form-field>
            <mat-form-field appearance="outline" class="form">
                <mat-label>Rental Cost</mat-label>
                <input matInput placeholder="Enter Rental Cost" [(ngModel)]="RentCost" >
            </mat-form-field >
            <mat-form-field appearance="outline" class="form">
                <mat-label>City</mat-label>
                <input matInput placeholder="Enter City" [(ngModel)]="City" >
            </mat-form-field>
            <mat-form-field appearance="outline" class="form">
                <mat-label>Location</mat-label>
                <input matInput placeholder="Enter Location" [(ngModel)]="Location">
            </mat-form-field>
            <div class="example-section">
                <label class="example-margin">Type:</label>
                <mat-radio-group [(ngModel)]="Type">
                  <mat-radio-button class="example-margin" checked=true name="Type" value="1" >1BHK</mat-radio-button>
                  <mat-radio-button class="example-margin" name="Type"  value="2" >2BHK</mat-radio-button>
                  <mat-radio-button class="example-margin" name="Type"  value="3" >3BHK</mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-form-field appearance="outline" class="form">
                <mat-label>Landlord Name</mat-label>
                <input matInput placeholder="Landlord Name" [(ngModel)]="LandLordName">
            </mat-form-field>
            <div class="input-group mb-3" style="width: 45%;" >
                <input type="file" class="form-control" id="inputGroupFile01"  >
            </div>
            <button mat-raised-button class="btn-user" (click)="onSubmit()" >UPDATE PROPERTY</button>
            
        </div>
    </mat-card>
</div>


